<h3>Template: Básicos</h3>
<hr />

<form (submit)="lookAtNgForm()" #myForm="ngForm" ngForm="myForm">
  <!-- Product -->
  <div class="row mb-3">
    <label class="col-sm-3">Producto:</label>
    <div class="col-sm-9">
      <input
        type="text"
        name="product"
        ngModel
        class="form-control"
        required
        minlength="3"
        placeholder="Nombre producto"
      />
      <span class="form-text text-danger" *ngIf="isProductValid()"
        >Debe tener 3 letras</span
      >
    </div>
  </div>
  <!-- Price -->
  <div class="row mb-3">
    <label class="col-sm-3">Precio:</label>
    <div class="col-sm-9">
      <input
        type="number"
        name="price"
        ngModel
        class="form-control"
        required
        placeholder="Precio producto"
      />
      <span class="form-text text-danger" *ngIf="isPriceValid()"
        >El precio debe ser 0 o mayor</span
      >
    </div>
  </div>
  <!-- Inventory -->
  <div class="row mb-3">
    <label class="col-sm-3">Existencias: (required) </label>
    <div class="col-sm-9">
      <input
        type="number"
        name="inventory"
        ngModel
        class="form-control"
        placeholder="Número de existencias"
      />
    </div>
  </div>
  <button
    type="submit"
    [disabled]="myForm.invalid"
    class="btn btn-primary float-end"
  >
    Guardar
  </button>
</form>

<p>Form Valid</p>
<pre>{{ myForm.valid }}</pre>
<p>Pristine</p>
<pre>{{ myForm.pristine | json }}</pre>
<p>Touched</p>
<pre>{{ myForm.touched | json }}</pre>
<p>Value:</p>
<pre>{{ myForm.value | json }}</pre>
