<h2>Validaciones Reactivas</h2>
<hr />

<div class="row">
  <div class="col">
    <form (ngSubmit)="onSubmit()" autocomplete="off" [formGroup]="signupForm">
      <!-- Name -->
      <div class="row mb-3">
        <label class="col-sm-3 col-form-label" for="fullname"
          >Nombre completo</label
        >
        <div class="col-sm-9">
          <input
            type="text"
            class="form-control"
            id="fullname"
            placeholder="Nombre completo"
            formControlName="fullname"
          />
          <span class="form-text text-danger" *ngIf="isInputValid('fullname')">
            Debe de ser en formato de nombre y apellido
          </span>
        </div>
      </div>

      <!-- Email -->
      <div class="row mb-3">
        <label class="col-sm-3 col-form-label" for="email">Email</label>
        <div class="col-sm-9">
          <input
            type="email"
            class="form-control"
            id="email"
            placeholder="Email"
            formControlName="email"
          />
          <span class="form-text text-danger" *ngIf="isInputValid('email')">
            {{ emailErrorMessage }}
          </span>
        </div>
      </div>

      <!-- Username -->
      <div class="row mb-3">
        <label class="col-sm-3 col-form-label" for="username">Username</label>
        <div class="col-sm-9">
          <input
            type="text"
            class="form-control"
            id="username"
            placeholder="Username del usuario"
            formControlName="username"
          />
          <span class="form-text text-danger" *ngIf="isInputValid('username')">
            El username no puede ser "daguttt"
          </span>
        </div>
      </div>

      <!-- Password -->
      <div class="row mb-3">
        <label class="col-sm-3 col-form-label" for="password">Contraseña</label>
        <div class="col-sm-9">
          <input
            type="password"
            class="form-control"
            id="password"
            placeholder="Contraseña"
            formControlName="password"
          />
          <span class="form-text text-danger" *ngIf="isInputValid('password')">
            La contraseña debe tener 6 o más caracteres
          </span>
        </div>
      </div>

      <!-- Confirm Password -->
      <div class="row mb-3">
        <label class="col-sm-3 col-form-label" for="confirmPassword"
          >Confirmar contraseña</label
        >
        <div class="col-sm-9">
          <input
            type="password"
            class="form-control"
            id="confirmPassword"
            placeholder="Confirmar contraseña"
            formControlName="confirmPassword"
          />
          <span
            class="form-text text-danger"
            *ngIf="isInputValid('confirmPassword')"
          >
            Las contraseñas deben de ser iguales
          </span>
        </div>
      </div>

      <div class="row">
        <div class="col">
          <button
            type="submit"
            class="btn btn-primary float-end"
            [disabled]="signupForm.pending"
          >
            Registrarse
          </button>
        </div>
      </div>
    </form>
  </div>
</div>

<h5>Form Valid: {{ signupForm.valid }}</h5>

<h5>Form Status: {{ signupForm.status }}</h5>

<h5>Form Pending: {{ signupForm.pending | json }}</h5>

<h5>Form Errors</h5>
<pre>{{ signupForm.errors | json }}</pre>

<h5>Full Name Errors</h5>
<pre>{{ signupForm.controls["fullname"].errors | json }}</pre>

<h5>Email Errors</h5>
<pre>{{ signupForm.controls["email"].errors | json }}</pre>

<h5>Username Errors</h5>
<pre>{{ signupForm.controls["username"].errors | json }}</pre>

<h5>Password Errors</h5>
<pre>{{ signupForm.controls["password"].errors | json }}</pre>

<h5>Confirm Password Errors</h5>
<pre>{{ signupForm.controls["confirmPassword"].errors | json }}</pre>
