<h2>Validaciones Reactivas</h2>
<hr />

<div class="row">
  <div class="col">
    <form (ngSubmit)="onSubmit()" autocomplete="off" [formGroup]="signupForm">
      <!-- Name -->
      <div class="row mb-3">
        <label class="col-sm-3 col-form-label" for="fullname"
          >Nombre completo</label
        >
        <div class="col-sm-9">
          <input
            type="text"
            class="form-control"
            id="fullname"
            placeholder="Nombre completo"
            formControlName="fullname"
          />
          <span class="form-text text-danger" *ngIf="isInputValid('fullname')">
            Debe de ser en formato de nombre y apellido
          </span>
        </div>
      </div>

      <!-- Email -->
      <div class="row mb-3">
        <label class="col-sm-3 col-form-label" for="email">Email</label>
        <div class="col-sm-9">
          <input
            type="email"
            class="form-control"
            id="email"
            placeholder="Email"
            name="email"
          />
        </div>
      </div>

      <!-- Username -->
      <div class="row mb-3">
        <label class="col-sm-3 col-form-label" for="username">Username</label>
        <div class="col-sm-9">
          <input
            type="text"
            class="form-control"
            id="username"
            placeholder="Username del usuario"
            name="username"
          />
        </div>
      </div>

      <!-- Password -->
      <div class="row mb-3">
        <label class="col-sm-3 col-form-label" for="password">Contraseña</label>
        <div class="col-sm-9">
          <input
            type="password"
            class="form-control"
            id="password"
            placeholder="Contraseña"
            name="password"
          />
        </div>
      </div>

      <!-- Confirm Password -->
      <div class="row mb-3">
        <label class="col-sm-3 col-form-label" for="confirmPassword"
          >Confirmar contraseña</label
        >
        <div class="col-sm-9">
          <input
            type="password"
            class="form-control"
            id="confirmPassword"
            placeholder="Confirmar contraseña"
            name="confirmPassword"
          />
        </div>
      </div>

      <div class="row">
        <div class="col">
          <button type="submit" class="btn btn-primary float-end">
            Registrarse
          </button>
        </div>
      </div>
    </form>
  </div>
</div>

<h5>Form Valid</h5>
<pre>{{ signupForm.valid | json }}</pre>

<h5>Full Name Errors</h5>
<pre>{{ signupForm.controls["fullname"].errors | json }}</pre>
