<h3>Reactivos: Básicos</h3>
<hr />

<form [formGroup]="myForm" class="mb-5">
  <!-- Product -->
  <div class="row mb-3">
    <label class="col-sm-3">Producto:</label>
    <div class="col-sm-9">
      <input
        type="text"
        class="form-control"
        placeholder="Nombre producto"
        formControlName="product"
      />
      <span class="form-text text-danger">Debe tener 3 letras</span>
    </div>
  </div>
  <!-- Price -->
  <div class="row mb-3">
    <label class="col-sm-3">Precio:</label>
    <div class="col-sm-9">
      <input
        type="number"
        class="form-control"
        placeholder="Precio producto"
        formControlName="price"
      />
      <span class="form-text text-danger">El precio debe ser 0 o mayor</span>
    </div>
  </div>
  <!-- Stock -->
  <div class="row mb-3">
    <label class="col-sm-3">Existencias: (required) </label>
    <div class="col-sm-9">
      <input
        type="number"
        class="form-control"
        placeholder="Número de existencias"
        formControlName="stock"
      />
    </div>
  </div>
  <button
    type="submit"
    class="btn btn-primary float-end"
    [disabled]="myForm.invalid"
  >
    Guardar
  </button>
</form>

<h5>Form Valid</h5>
<pre>{{ myForm.valid }}</pre>

<h5>Pristine</h5>
<pre>{{ myForm.pristine | json }}</pre>

<h5>Touched</h5>
<pre>{{ myForm.touched | json }}</pre>

<h5>Value:</h5>
<pre>{{ myForm.value | json }}</pre>
