<h2>Reactivos: <small>Dinámicos</small></h2>
<hr />
<form autocomplete="off" [formGroup]="personForm">
  <!-- Name -->
  <div class="row mb-3">
    <label class="col-sm-3 col-form-label" for="name">Nombre</label>
    <div class="col-sm-9">
      <input
        type="text"
        class="form-control"
        placeholder="Nombre"
        formControlName="name"
      />
      <span class="form-text text-danger" *ngIf="isInputValid('name')"
        >Este campo es obligatorio</span
      >
    </div>
  </div>

  <!-- Add favorite games-->
  <div class="row mb-3">
    <label class="col-sm-3 col-form-label">Agregar</label>
    <div class="col-sm-9" formArrayName="favorites">
      <div class="input-group">
        <input
          type="text"
          class="form-control"
          [formControl]="newFavoriteControl"
          placeholder="Agregar favorito"
          (keydown.enter)="addNewFavoriteGame()"
        />
        <button
          type="button"
          class="btn btn-outline-primary"
          (click)="addNewFavoriteGame()"
        >
          Agregar
        </button>
      </div>
    </div>
  </div>

  <!-- List of favorite games -->
  <div class="row mb-3">
    <label class="col-sm-3 col-form-label">Favoritos</label>
    <div class="col-sm-9" formArrayName="favorites">
      <div
        class="input-group mb-1"
        *ngFor="let favorite of favorites.controls; let i = index"
      >
        <input type="text" class="form-control" [formControlName]="i" />
        <button type="button" class="btn btn-outline-danger">Eliminar</button>
      </div>
    </div>
  </div>

  <!-- Save button (submit) -->
  <div class="row mb-3">
    <div class="col">
      <button
        type="button"
        class="btn btn-primary float-end"
        (click)="onSubmit()"
      >
        Guardar
      </button>
    </div>
  </div>
</form>

<h5>Add New Favorite - Valid:</h5>
<pre>{{ newFavoriteControl.valid | json }}</pre>

<h5>Add New Favorite - Value:</h5>
<pre>{{ newFavoriteControl.value | json }}</pre>

<h5>Form Valid</h5>
<pre>{{ personForm.valid }}</pre>

<h5>Pristine</h5>
<pre>{{ personForm.pristine | json }}</pre>

<h5>Touched</h5>
<pre>{{ personForm.touched | json }}</pre>

<h5>Form Value:</h5>
<pre>{{ personForm.value | json }}</pre>
